#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #0C1200;
}

.button {
  padding: 10px;
  margin-left: 5px;
  background-color: #AFFA00;
  border-radius: 4px;
  color: #0C1200;
  border: none;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.button:hover {
  background-color: #8BDB00;
}